<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next" defer></script>
    
    <script src="code.js" defer></script>
</head>
<body>
    <div id="todo-list">
        <input type="text" v-model="message" v-on:keyup.enter = "addToList">
        <h4> Мои задачи </h4>
        <ol>
            <li v-for="(item, index) in list" :data-index="index" title="Нажми, чтобы удалить" @click="deleteItem">
                {{item}}
            </li>
        </ol>
    </div>
</body>
</html>